.navbar ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.navbar ul li {
    padding: 30px;
    list-style: none;
    font-size: 1.5rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
}
.btn {
    display: flex;
    justify-content: space-evenly;
}

.btn-1 {
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    border: none;
    color: #fff;
    background: #333;
    outline: none;
    width: 150px;
    box-shadow: 0 9px #999;
    border-radius: 10px;
}

.btn-1:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-2{
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #333;
    color: #333;
    background: #fff;
    outline: none;
    width: 150px;
    border-radius: 15px;
    
}
.btn-2:hover{
    background: #333;
    color: #fff;
    transition: ease-in 0.5s;
    
}
.btn-2:active {
    background: #fff;
    color: #333;
}

img {
    width: 450px;
    height: 300px;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 400px;
    text-align: center;
}